package {{.ProjectName}}

import (
	"github.com/godjango/godjango/core/apps"
)

type AppConfig struct{}

func (a *AppConfig) Name() string                   { return "{{.ProjectName}}" }
func (a *AppConfig) Label() string                  { return "{{.ProjectName}}" }
func (a *AppConfig) Path() string                   { return "" }
func (a *AppConfig) Models() []apps.ModelInfo       { return nil }
func (a *AppConfig) Ready()                         {}

func init() {
	apps.Register(&AppConfig{})
}
