<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{.title}} | {{.site_title}}</title>
<link rel="stylesheet" href="/admin/static/css/base.css">
</head>
<body>
<div id="header">
	<h1><a href="/admin/" style="color: white;">{{.site_header}}</a></h1>
	<div>
		Welcome, <strong>{{.request.User.Username}}</strong>.
		<a href="/" style="color: white;">View site</a> /
		<a href="/admin/logout/" style="color: white;">Log out</a>
	</div>
</div>

<div id="content">
	<h2>{{.title}}</h2>
	{{template "content_wrapper" .}}
</div>

</body>
</html>
