<div>
	<a href="add/" class="btn">Add {{(.model_admin.ModelInfo.Name)}}</a>
</div>
<br>

<form method="post" action="">
	<input type="hidden" name="csrfmiddlewaretoken" value="{{.request.META.CSRF_TOKEN}}">

	{{if .has_filters}}
	<div id="changelist-filter">
		<h2>Filter</h2>
		{{range .filter_specs}}
		<details{{if .HasActive}} open{{end}}>
			<summary>{{.Title}}</summary>
			<ul>
				{{range .Choices}}
				<li{{if .Selected}} class="selected"{{end}}>
					<a href="?{{.Query}}">{{.Display}}</a>
				</li>
				{{end}}
			</ul>
		</details>
		{{end}}
	</div>
	{{end}}

	{{if .actions}}
	<select name="action">
		<option value="">---------</option>
		<option value="delete_selected">Delete selected {{(.model_admin.ModelInfo.Name | lower)}}s</option>
	</select>
	<button class="btn" type="submit">Go</button>
	{{end}}

	<table>
		<tr>
			<th><input type="checkbox" id="action-toggle"></th>
			{{range .columns}}
				<th>{{.}}</th>
			{{end}}
		</tr>
		{{range .results}}
		<tr>
			<td><input type="checkbox" name="_selected_action" value="{{.pk}}"></td>
			{{range $i, $val := .cells}}
				{{if eq $i 0}}
					<td><a href="{{$.pk}}/change/">{{$val}}</a></td>
				{{else}}
					<td>{{$val}}</td>
				{{end}}
			{{end}}
		</tr>
		{{end}}
	</table>
</form>

<p>{{.count}} {{(.model_admin.ModelInfo.Name | lower)}}s</p>
